#slider{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &>div{
        width: 100%;
        height: 90%;
    }

}
.items-slider{
        height: 90%;
        &>.item-1{
            background-color: aqua;
            height: 100px;
            width: 100px;
        }
    }
    img{
        width: 100%;
        height: 400px;
    }
    .lick-arrow,.slick-next,.slick-arrow,.slick-prev{
        background-color: black;
        border-radius: 50%;
        color: blue;
        height: 21px;
    }